@import "../mixins";

.icon-widget-1 {
  padding: 15px 10px;
  i {
    vertical-align: middle;
    display: inline-flex;
    margin-right: 8px;
  }
  .text {
    vertical-align: middle;
    display: inline-flex;
  }
}
