@import "../variables";
@import "../mixins";
.icon-widget-7 {
  padding: 10px;
  &.bg-transparent {
    padding: 0;
  }
  .number {
    font-weight: 400;
    @include font-size(18px);
  }
  .text {
    @include font-size(13px);
  }
  .btn {
    cursor: none;
    pointer-events: none;
  }
  i {
    font-weight: 400;
    @include font-size(24px);
  }
}
