@import "../variables";
@import "../palettes/left-sidebar";
@import "../mixins";
.sidebar-heading {
  &.sidebar-heading-1 {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    text-align: center;
    text-transform: capitalize;
    z-index: 1;
    [data-layout="collapsed-sidebar-1"] & {
      display: none;
    }
  }
}
@each $key, $value in $left-sidebar-palettes {
  [data-left-sidebar="#{$key}"] {
    .sidebar-heading {
      background-color: map-get($value, "background-color");
      color: map-get($value, "color");
    }
  }
}
